mixin makefactions(number, title)
	.factions-header.flex.uppercase&attributes(attributes)
		+text-input(`factions${number}_header`, title).faction-name.label
		span.faction-tier(data-i18n='tier')
		span.faction-hold(data-i18n='hold')
		span.faction-status(data-i18n='status')

	// Heat
	.col100.flex.heat
		// Heat markers
		.heat1.blackheader
			.label(data-i18n='heat')
		.heat2.blackborder.flex
			+radio('heat_' + number )(value='0', checked).tooth.zero
			//- generates 9 heat boxes
			each num in range(1,9)
				+radio('heat_'+number)(value=num).tooth.stresstooth
		// Wanted Level.
		// Note: took out the roll here bc it's based on Tier, which will likely
		// be on a different sheet.
		.heat3
			.blackheader
				.label(data-i18n='wanted')
			// TODO make this only appear if heat is maxed? kill the teeth?
			.wantedholder.flex
				+radio('wanted_'+number)(value='0', checked).tooth.zero
				+radio('wanted_'+number)(value='1').tooth.regulartooth

	fieldset(class=`repeating_factions${number}`)
		.faction
			+checkbox('expand').expand
			+text-input('name').faction-name
			+text-input('tier').faction-tier
			+text-input('hold').faction-hold
			+number-input('status').faction-status
			+textarea('notes')(data-i18n-placeholder='faction_notes')

// Faction Sheet
+hidden-input('setting_clocks_only')(value='0').input-clocks-only
.type-faction.flex-wrap
	.factiontitle.flex.col100
		+text-input('factions_title', 'factions_title').label
		+hidden-input('show_faction_generatebutton')(value='1').hider
		label.generatebutton
			+checkbox('generate_factions')(data-i18n='generate_factions')
		+fortuneroll('Fortune_faction', '{{fortune=1}} {{title=^{fortune}}} {{short=1}} {{charname=}}', true)(data-i18n='roll_fortune').fortunebutton.borderbutton
	.factions.flex.free-repcontrol
		.col24b
			+makefactions(1, 'factions1')
		.col24b
			+makefactions(2, 'factions2')
			+makefactions(3, 'factions3').sheet-faction-occult-outcasts-margin
		.col24b
			+makefactions(4, 'factions4')
			+makefactions(5, 'factions5').sheet-faction-occult-outcasts-margin
		.col24b
			+makefactions(6, 'factions6')
			.warblurb.def-margin
				.label(data-i18n='war')
				ul
					li.nondot(data-i18n='warblurb1')
					li(data-i18n='warblurb2')
					li(data-i18n='warblurb3')
					li(data-i18n='warblurb4')
	.clocks.col55.free-repcontrol
		.specialheader.label(data-i18n='clocks')
		fieldset.repeating_factionclock
			+makeclock
	.col45.right-column
		+textarea('faction_notes')(data-i18n-placeholder='notes').notes
