/* Variants of grey */
/* red */
/* GENERALITIES */
.charsheet {
  color: #333;
  font-size: 0;
  position: relative;
  top: -11px;
  cursor: default;
  box-sizing: border-box;
  padding: 0 !important;
  font-family: Georgia, "Bitstream Charter", "Times New Roman", serif;
}
.charsheet div, .charsheet span, .charsheet textarea, .charsheet ul, .charsheet li, .charsheet span, .charsheet label {
  box-sizing: border-box;
}
.charsheet button[type=roll] {
  text-shadow: none;
  background: transparent;
  box-shadow: none;
  font-weight: bold;
  font-family: inherit;
  outline: none;
  border-radius: 0;
  transition: all 0.2s;
}
.charsheet button[type=roll].btn::before {
  content: "";
}
.charsheet label {
  margin: 0;
  padding: 0;
  display: flex;
  width: auto;
  color: #333;
  font: inherit;
}
.charsheet label input[type=checkbox], .charsheet label input[type=radio] {
  position: absolute;
}
.charsheet label:hover input[type=checkbox] + span, .charsheet label:hover input[type=radio] + span {
  opacity: 0.7;
}
.charsheet input[type=text], .charsheet textarea {
  border: none;
  font-family: inherit;
  background: transparent;
  box-shadow: none;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #333;
  border-radius: 0;
  transition: all 0.2s, height 0.4s;
}
.charsheet textarea {
  resize: vertical;
  display: block;
}
.charsheet textarea:active {
  transition: height 0s;
}
.charsheet input[type=number] {
  border-color: #c7c7c7;
  color: #333;
  box-shadow: none;
}
.charsheet input[type=checkbox], .charsheet input[type=radio] {
  opacity: 0;
  z-index: 1;
  -moz-appearance: none;
  position: relative;
}
.charsheet input[type=checkbox] + span, .charsheet input[type=radio] + span {
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s, opacity 0s;
}
.charsheet ul {
  list-style: none;
  margin: 0;
}
.charsheet li {
  position: relative;
}
.charsheet li::before {
  transform: rotate(45deg) scale(0.9);
  font-family: Georgia, serif;
  content: "■";
  left: 0;
  top: -0.1em;
  position: absolute;
}
.charsheet button[type=roll].sheet-inherit, .charsheet input[type=text].sheet-inherit {
  font: inherit;
  color: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}
.charsheet .sheet-space-after::after {
  content: " ";
}

.sheet-focus-shadow[value="1"] ~ .sheet-container textarea:focus, .sheet-focus-shadow[value="1"] ~ .sheet-container input[type=text]:focus, .sheet-focus-shadow[value="1"] ~ .sheet-container input[type=number]:focus {
  box-shadow: inset 0 0 1px 1px rgba(66, 66, 66, 0.3), 0 0 2px 1px rgba(66, 66, 66, 0.3);
}

.sheet-hidden {
  display: none !important;
}

/* Preloading graphics*/
.sheet-preload {
  opacity: 0;
  position: absolute;
}
.sheet-preload img {
  width: 1px;
  height: 1px;
}

/* Version text */
.sheet-topholder {
  line-height: 22px;
  margin: 0 0 7px calc(55% + 5px);
}
.sheet-topholder .sheet-version {
  color: #aaa;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
}
.sheet-topholder .sheet-version-text::after {
  content: " ";
}
.sheet-topholder .sheet-settings-checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  font-family: pictos;
}
.sheet-topholder .sheet-settings-checkbox input + span {
  opacity: 0.3;
}
.sheet-topholder .sheet-settings-checkbox input:checked + span {
  opacity: 1;
}

/* Type Selector */
.sheet-type-selector {
  display: flex;
  margin-right: auto;
  background: #c7c7c7;
  border: 1px solid #aaa;
  letter-spacing: 1px;
  line-height: 20px;
  justify-content: center;
  width: 170px;
  font-size: 11px;
  color: #555;
}
.sheet-type-selector input {
  position: absolute;
  width: 170px;
  height: 20px;
}
.sheet-type-selector:hover {
  color: red;
}
.sheet-type-selector .sheet-3waybox:not(:checked) + .sheet-3waybox,
.sheet-type-selector input[value=character]:not(:checked) ~ span[data-i18n=character_mode],
.sheet-type-selector input[value=crew]:not(:checked) ~ span[data-i18n=crew_mode],
.sheet-type-selector input[value=faction][type=radio]:not(:checked) ~ span[data-i18n=faction_mode] {
  display: none;
}

/* SETTINGS */
.sheet-type[value=character] ~ .sheet-settings > :not(.sheet-setting-char), .sheet-type[value=crew] ~ .sheet-settings > :not(.sheet-setting-crew), .sheet-type[value=faction] ~ .sheet-settings > :not(.sheet-setting-faction) {
  display: none;
}

.sheet-settings {
  position: absolute;
  right: 0;
  width: 415px;
  border: 1px solid black;
  background: white;
  z-index: 100;
  padding: 5px;
  border-radius: 5px;
}
.sheet-settings > div {
  min-width: 50%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 2px;
  font-size: 10px;
  min-height: 24px;
  line-height: 17px;
  border-bottom: 1px solid #d8d8d8;
}
.sheet-settings > div.sheet-generaterow {
  line-height: 0;
}
.sheet-settings label {
  align-items: center;
}
.sheet-settings .sheet-checkbox + span {
  margin-right: 6px;
}
.sheet-settings .sheet-checkbox:checked + span {
  background: black;
}
.sheet-settings :not(input) + span {
  padding-right: 4px;
}
.sheet-settings input[type=number] {
  padding: 0 2px;
  margin: 0 3px 0 8px;
  width: 30px;
  font-size: 12px;
}
.sheet-settings input[type=text] {
  width: 45px;
  font-size: 10px;
  margin-right: 3px;
  padding-left: 1px;
  line-height: 16px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
}
.sheet-settings input[type=text].sheet-wide {
  width: 200px;
  margin-right: 8px;
}
.sheet-settings select {
  width: 80px;
  margin: 0 7px 0 0;
  padding: 0;
  height: 18px;
}

/* SETTINGS FOR HIDING STUFF ON THE SHEET */
.sheet-toothhider[value="0"] ~ .sheet-tooth, .sheet-toothhider[value="0"] ~ .sheet-tooth + span {
  display: none;
}

.sheet-hider[value="0"] + li, .sheet-hider[value="0"] + div, .sheet-hider[value="0"] + label {
  display: none;
}

/* Sheet container */
.sheet-container {
  position: relative;
}

.sheet-flexwidth[value="0"] ~ .sheet-container {
  width: 860px;
}
.sheet-flexwidth[value="1"] ~ .sheet-container {
  min-width: 860px;
  max-width: 1190px;
}

.sheet-type:not([value=character]) ~ .sheet-type-character, .sheet-type:not([value=crew]) ~ .sheet-type-crew, .sheet-type:not([value=faction]) ~ .sheet-type-faction {
  display: none;
}

/* USEFUL GENERAL LAYOUT*/
.sheet-blackheader {
  background: black;
  color: white;
}
.sheet-blackheader.sheet-rep1, .sheet-blackheader.sheet-hold1 {
  padding-top: 3px;
  line-height: 13px;
}
.sheet-blackheader.sheet-hold1 {
  padding-left: 2px;
}

.sheet-blackheader, .sheet-black-on-grey, .sheet-greyheader {
  font-size: 11px;
  letter-spacing: 1px;
}

.sheet-blackheader, .sheet-greyheader {
  height: 16px;
  line-height: 15px;
  padding: 1px 2px 0 4px;
}

.sheet-black-on-grey, .sheet-greyheader {
  background: #b4b4b4;
}

.sheet-black-on-grey {
  text-align: center;
  position: relative;
  flex-grow: 1;
  padding-left: 1px;
  height: 13px;
  line-height: 13px;
  z-index: -1;
}

.sheet-plainheader {
  width: 100%;
  border-top: 2px solid black;
  font-size: 12px;
  line-height: 22px;
}

.sheet-specialheader {
  background: #b4b4b4;
  height: 20px;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  padding: 0 5px;
}
.sheet-specialheader input[type=text] {
  margin: 0 -5px;
  padding: 0 5px;
  width: calc(100% + 10px);
}

.sheet-italic {
  font-style: italic;
}

.sheet-bold {
  font-weight: bold;
}

.sheet-greyholder {
  background: #d8d8d8;
}

.sheet-def-margin {
  margin-top: 10px;
}

.sheet-small-margin {
  margin-top: 5px;
}

.sheet-blackborder {
  border-top: 3px solid black;
}

.sheet-tier {
  background: #d8d8d8;
  height: 16px;
  width: 56px;
  align-items: center;
}
.sheet-tier input[value="1"] {
  margin-left: auto;
}
.sheet-tier .sheet-checkbox + span {
  margin-right: auto;
}

/* COLUMN LAYOUT */
.sheet-flex {
  display: flex;
}

.sheet-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.sheet-flex-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sheet-right-column {
  padding-left: 5px;
}

.sheet-col47 {
  width: 47%;
}

.sheet-col53 {
  width: 53%;
}

.sheet-col37 {
  width: 37%;
}

.sheet-col24b {
  width: 24.25%;
}

.sheet-col50 {
  width: 50%;
}

.sheet-col52b {
  width: 52%;
}

.sheet-col55 {
  width: 55%;
}

.sheet-col45 {
  width: 45%;
}

.sheet-col63 {
  width: 63%;
}

.sheet-col100 {
  width: 100%;
}

/* FONT STYLES */
.sheet-label,
input[type=text].sheet-label,
textarea.sheet-label,
button[type=roll].sheet-label {
  text-transform: uppercase;
  font-weight: bold;
}

.sheet-uppercase {
  text-transform: uppercase;
}

.sheet-smallcaps,
input[type=text].sheet-smallcaps,
textarea.sheet-smallcaps {
  font-variant: small-caps;
  font-weight: bold;
}

/* INFO BOXES */
.sheet-gatherinfo ul {
  padding: 0;
}
.sheet-gatherinfo li {
  margin-bottom: 1px;
  font-style: italic;
  padding-left: 11px;
  font-size: 11px;
  height: 17px;
}

.sheet-teamworkbox {
  width: 95%;
  padding: 5px;
  margin-bottom: 5px;
  background: #d8d8d8;
  font-size: 12px;
  line-height: 15px;
}

.sheet-planning .sheet-teamworkbox .sheet-bold::after {
  content: ": ";
}

.sheet-planningdesc {
  font-size: 12px;
  line-height: 15px;
  text-align: justify;
  margin: 0 5% 5px 0;
}

/* ITEMS/UPGRADES */
.sheet-itemcolumn {
  max-width: 249px;
}

.sheet-itemholder > div {
  padding: 5px;
}

.sheet-item-container {
  flex-grow: 1;
}

.sheet-playbookitems {
  background: #d8d8d8;
}

.sheet-regularitems .repcontainer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.sheet-regularitems .repitem {
  display: flex;
  flex-grow: 1;
}
.sheet-regularitems .sheet-input-short[value="1"] + .sheet-input-expand[value="0"] ~ .sheet-item-container {
  width: 96px;
}
.sheet-regularitems .sheet-col50, .sheet-regularitems .sheet-col100 {
  position: relative;
}

.sheet-item {
  display: flex;
  align-items: start;
}
.sheet-item .sheet-itemname {
  height: 18px;
  font-size: 11px;
  margin: 0 1px 0 2px;
  padding-left: 2px;
  flex: auto;
  min-width: 0;
}
.sheet-item .sheet-itemname.sheet-auto-expand {
  min-height: 16px;
  height: auto;
  line-height: 16px;
  margin: 1px 0;
  padding: 0 7px 0 2px;
}
.sheet-item .sheet-checkbox, .sheet-item .sheet-checkbox + span {
  margin-top: 3px;
}
.sheet-item .sheet-input-bold[value="1"] ~ .sheet-itemname {
  font-weight: bold;
}
.sheet-item .sheet-numboxes[value="0"] ~ .sheet-itemname {
  font-style: italic;
}
.sheet-item .sheet-label {
  font-size: 11px;
  vertical-align: top;
  letter-spacing: 1px;
}
.sheet-item .sheet-label.sheet-upgradecosts {
  font-size: 8px;
}
.sheet-item .sheet-upgradecosts {
  font-size: 11px;
  padding-left: 3px;
}
.sheet-item .sheet-upgradecaption {
  margin-top: 3px;
}

.sheet-floatingbar {
  width: 3px;
  height: 2px;
  margin: 8px 0 0 -3px;
  flex: 0 0 auto;
  background: #8c8c8c;
}

/* Repeating items*/
.sheet-numboxes[value="0"] ~ .sheet-boxesgeq2,
.sheet-numboxes[value="1"] ~ .sheet-boxesgeq2,
.sheet-numboxes[value="2"] ~ .sheet-boxesgeq3 {
  display: none;
}

.sheet-itemholder .repitem .sheet-boxes-chosen[value="1"] + div, .sheet-itemholder .repitem .sheet-boxes-chosen[value="0"] + div ~ div {
  display: none;
}

.sheet-numboxes-chooser {
  padding: 1px 0;
  font-size: 11px;
}
.sheet-numboxes-chooser input[type=number] {
  margin-left: auto;
  height: 18px;
  padding: 0;
  text-align: right;
  width: 2.5em;
  background: transparent;
}
.sheet-numboxes-chooser label {
  height: 18px;
  border: 1px solid #aaa;
  margin-left: auto;
  padding: 2px;
  line-height: 12px;
}
.sheet-numboxes-chooser input:checked + span {
  font-weight: bold;
}

.sheet-show-itemdesc[value="0"] ~ div .sheet-item-description {
  display: none;
}

.sheet-itemholder .sheet-expand {
  top: 4px;
  right: 1px;
}
.sheet-itemholder .sheet-expand + span {
  top: 1px;
  right: 1px;
}
.sheet-itemholder .sheet-expand + span::before {
  content: "◀";
}
.sheet-itemholder .sheet-expand:checked + span::before {
  content: "▼";
}
.sheet-itemholder .sheet-expand ~ textarea {
  border-top: 1px solid #d8d8d8;
  line-height: 12px;
  font-size: 10px;
  height: 49px;
}

.sheet-itemholder .sheet-playbookitems .sheet-expand ~ textarea {
  border-color: #aaa;
}

/* LOGO */
.sheet-bladeslogo {
  border-right: 12px solid transparent;
  height: 43px;
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/logo.png");
  background-size: 102% auto;
  background-repeat: no-repeat;
}

.sheet-crewheader {
  color: #808080;
  font-size: 28px;
  align-self: flex-start;
  letter-spacing: -2px;
  line-height: 31px;
}

/* LOAD */
.sheet-itemheader,
.sheet-loadheader {
  background: #b4b4b4;
  height: 20px;
  font-size: 10px;
  padding: 3px 2px 1px 4px;
  align-items: center;
}

.sheet-loadheader label {
  align-items: center;
  line-height: 11px;
  font-style: italic;
  margin-left: auto;
  text-transform: lowercase;
}

.sheet-loadnumber {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  margin: 0 3px 0 4px;
}

.sheet-itemheader > .sheet-label {
  margin-right: 4px;
}
.sheet-itemheader:not(:hover) .sheet-text-button {
  display: none;
}
.sheet-itemheader .sheet-text-button {
  margin-left: auto;
}
.sheet-itemheader .sheet-text-button input[type=checkbox] + span {
  opacity: 1;
  color: #333;
}
.sheet-itemheader .sheet-text-button:hover input[type=checkbox] + span {
  color: red;
}

/* ADVANCEMENT BOX*/
.sheet-advancement-header {
  letter-spacing: 2px;
}

.sheet-markxp {
  margin-right: auto;
}

.sheet-xpholder {
  letter-spacing: 0;
  font-size: 0;
  margin-left: 8px;
}

.sheet-advancement-desc li, .sheet-warblurb li {
  font-size: 13px;
  line-height: 16px;
  width: 100%;
}
.sheet-advancement-desc li.sheet-nondot, .sheet-warblurb li.sheet-nondot {
  padding-left: 0;
  font-style: normal;
}
.sheet-advancement-desc li.sheet-nondot::before, .sheet-warblurb li.sheet-nondot::before {
  display: none;
}

.sheet-advancement-desc {
  width: 99%;
  background: #d8d8d8;
  padding: 15px 10px 4px 11px;
}
.sheet-advancement-desc li {
  font-style: italic;
  margin-bottom: 1em;
  padding-left: 1em;
}
.sheet-advancement-desc .sheet-auto-expand {
  min-height: 16px;
  padding: 0 2px;
}

/* PLAYBOOK */
.sheet-playbook {
  align-items: center;
  height: 50px;
  position: relative;
  background: #d8d8d8;
}
.sheet-playbook input[type=text] {
  flex: 0 0 auto;
  margin: 0 2px;
  padding-left: 5px;
  letter-spacing: -1px;
  font-size: 35px;
  line-height: 40px;
}
.sheet-playbook textarea {
  height: 42px;
  flex: 0 0 auto;
  font-size: 10px;
  padding-left: 3px;
  letter-spacing: 1px;
  color: #808080;
  resize: none;
  overflow: hidden;
  line-height: 14px;
}
.sheet-playbook .sheet-reminder {
  position: absolute;
  border: 1px solid #333;
  background: white;
  top: 48px;
  z-index: 3;
  border-radius: 5px;
  width: 267px;
  font-size: 12px;
  text-align: center;
  padding: 3px;
}

.sheet-type-character .sheet-playbook input[type=text] {
  width: calc(64% - 10px);
}
.sheet-type-character .sheet-playbook textarea {
  width: calc(36% + 6px);
}

.sheet-type-crew .sheet-playbook input[type=text] {
  width: calc(74% - 7px);
}
.sheet-type-crew .sheet-playbook textarea {
  width: calc(26% + 3px);
}

/* HEADER */
.sheet-header {
  flex-wrap: wrap;
  align-items: flex-end;
}
.sheet-header label {
  flex-wrap: wrap;
}
.sheet-header input[type=text], .sheet-header .sheet-auto-expand {
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
  padding: 3px 0 0 2px;
  margin: 3px 0 0;
  min-height: 22px;
  color: #c43c35;
}
.sheet-header input[type=hidden][value=""] + div > .sheet-title::after {
  content: ": ";
}
.sheet-header input[type=hidden]:not([value=""]) + div > .sheet-info {
  display: none;
}
.sheet-header .sheet-col55:not(:first-child) {
  padding-right: 2.5%;
}
.sheet-header .sheet-text {
  color: black;
  text-align: justify;
  padding: 3px 0 2px;
  line-height: 13px;
}
.sheet-header .sheet-title {
  font-size: 10px;
  letter-spacing: 1px;
}
.sheet-header .sheet-info {
  font-size: 8px;
}
.sheet-header .sheet-vice-input:not([value=normal]) ~ .sheet-normal, .sheet-header .sheet-vice-input:not([value=ghost]) ~ .sheet-ghost, .sheet-header .sheet-vice-input:not([value=hull]) ~ .sheet-hull, .sheet-header .sheet-vice-input:not([value=vampire]) ~ .sheet-vampire {
  display: none;
}
.sheet-header .sheet-vice {
  justify-content: space-between;
  text-align: justify;
  line-height: 1.6;
  font-size: 11px;
}
.sheet-header .sheet-vice .sheet-smallcaps {
  font-size: 130%;
  line-height: 0;
}

/* CLOCKS */
.sheet-clocks .repcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2px;
  grid-gap: 4px 1%;
}
.sheet-clocks .repitem {
  display: flex;
  padding: 4px 2px;
  background: #d8d8d8;
  align-items: start;
}
.sheet-clocks .itemcontrol {
  top: 0;
  left: 0;
}
.sheet-clocks .sheet-auto-expand {
  font-size: 11px;
  letter-spacing: 1px;
  padding: 2px 3px;
  line-height: 12px;
  flex: auto;
  min-width: 0;
  margin-right: 2px;
  min-height: 28px;
}

.sheet-clock-container {
  position: relative;
  padding: 2px;
  margin: 0 0 5px;
  z-index: 1;
  height: 44px;
  width: 44px;
  cursor: pointer;
  flex: 0 0 auto;
}
.sheet-clock-container input {
  position: absolute;
  display: none;
}
.sheet-clock-container .sheet-zero {
  z-index: 3;
}
.sheet-clock-container .sheet-zero, .sheet-clock-container .sheet-zero + span {
  position: absolute;
  top: 37px;
  left: -5px;
}
.sheet-clock-container .sheet-all, .sheet-clock-container .sheet-zero {
  display: block;
}

.sheet-clock {
  border: 2px solid black;
  border-radius: 50%;
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

[class^=sheet-spoke] {
  height: 44px;
  width: 2px;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  background: black;
}

.sheet-spoke-0 {
  transform: translateX(21px);
}

.sheet-spoke-30 {
  transform: translateX(21px) rotate(30deg);
}

.sheet-spoke-36 {
  transform: translateX(21px) rotate(36deg);
}

.sheet-spoke-45 {
  transform: translateX(21px) rotate(45deg);
}

.sheet-spoke-60 {
  transform: translateX(21px) rotate(60deg);
}

.sheet-spoke-72 {
  transform: translateX(21px) rotate(72deg);
}

.sheet-spoke-90 {
  transform: translateX(21px) rotate(90deg);
}

.sheet-spoke-108 {
  transform: translateX(21px) rotate(108deg);
}

.sheet-spoke-120 {
  transform: translateX(21px) rotate(120deg);
}

.sheet-spoke-135 {
  transform: translateX(21px) rotate(135deg);
}

.sheet-spoke-144 {
  transform: translateX(21px) rotate(144deg);
}

.sheet-spoke-150 {
  transform: translateX(21px) rotate(150deg);
}

.sheet-size-choice {
  display: flex;
  flex: 0 0 auto;
  height: 45px;
  margin: 2px 0;
  width: 44px;
  line-height: 12px;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
  align-content: space-evenly;
  flex-wrap: wrap;
}

/* Faction clocks */
.sheet-input-clocks-only[value="0"] + .sheet-type-faction .sheet-clocks .repcontainer {
  grid-column-gap: 0.7%;
  grid-template-columns: repeat(3, 1fr);
}

.sheet-input-clocks-only[value="1"] + .sheet-type-faction .sheet-clocks {
  width: 100%;
}
.sheet-input-clocks-only[value="1"] + .sheet-type-faction .sheet-clocks .repcontainer {
  grid-column-gap: 0.4%;
  grid-template-columns: repeat(4, 1fr);
}
.sheet-input-clocks-only[value="1"] + .sheet-type-faction .sheet-factiontitle, .sheet-input-clocks-only[value="1"] + .sheet-type-faction .sheet-factions, .sheet-input-clocks-only[value="1"] + .sheet-type-faction .sheet-notes {
  display: none;
}

.sheet-size[value="4"] ~ .sheet-clock-container input:not(.sheet-zero) {
  height: 20px;
  width: 20px;
}
.sheet-size[value="4"] ~ .sheet-clock-container input[value="1"] {
  margin-left: 20px;
}
.sheet-size[value="4"] ~ .sheet-clock-container input[value="2"] {
  margin: 20px 0 0 20px;
}
.sheet-size[value="4"] ~ .sheet-clock-container input[value="3"] {
  margin-top: 20px;
}

.sheet-size[value="6"] ~ .sheet-clock-container input:not(.sheet-zero) {
  height: 17px;
  width: 12px;
}
.sheet-size[value="6"] ~ .sheet-clock-container input[value="1"] {
  margin-left: 21px;
  transform: rotate(30deg);
}
.sheet-size[value="6"] ~ .sheet-clock-container input[value="2"] {
  margin: 12px 0 0 25px;
  transform: rotate(90deg);
}
.sheet-size[value="6"] ~ .sheet-clock-container input[value="3"] {
  margin: 22px 0 0 21px;
  transform: rotate(150deg);
}
.sheet-size[value="6"] ~ .sheet-clock-container input[value="4"] {
  margin: 22px 0 0 8px;
  transform: rotate(210deg);
}
.sheet-size[value="6"] ~ .sheet-clock-container input[value="5"] {
  margin: 12px 0 0 1px;
  transform: rotate(270deg);
}
.sheet-size[value="6"] ~ .sheet-clock-container input[value="6"] {
  margin-left: 8px;
  transform: rotate(330deg);
}

.sheet-size[value="8"] ~ .sheet-clock-container input:not(.sheet-zero) {
  height: 14px;
  width: 10px;
}
.sheet-size[value="8"] ~ .sheet-clock-container input[value="1"] {
  margin-left: 20px;
  transform: rotate(22.5deg);
}
.sheet-size[value="8"] ~ .sheet-clock-container input[value="2"] {
  margin: 8px 0 0 26px;
  transform: rotate(67.5deg);
}
.sheet-size[value="8"] ~ .sheet-clock-container input[value="3"] {
  margin: 18px 0 0 26px;
  transform: rotate(112.5deg);
}
.sheet-size[value="8"] ~ .sheet-clock-container input[value="4"] {
  margin: 25px 0 0 20px;
  transform: rotate(157.5deg);
}
.sheet-size[value="8"] ~ .sheet-clock-container input[value="5"] {
  margin: 25px 0 0 9px;
  transform: rotate(202.5deg);
}
.sheet-size[value="8"] ~ .sheet-clock-container input[value="6"] {
  margin: 18px 0 0 2px;
  transform: rotate(247.5deg);
}
.sheet-size[value="8"] ~ .sheet-clock-container input[value="7"] {
  margin: 8px 0 0 2px;
  transform: rotate(292.5deg);
}
.sheet-size[value="8"] ~ .sheet-clock-container input[value="8"] {
  margin-left: 9px;
  transform: rotate(337.5deg);
}

.sheet-size[value="10"] ~ .sheet-clock-container input:not(.sheet-zero) {
  height: 14px;
  width: 9px;
}
.sheet-size[value="10"] ~ .sheet-clock-container input[value="1"] {
  transform: rotate(18deg);
  margin-left: 20px;
}
.sheet-size[value="10"] ~ .sheet-clock-container input[value="2"] {
  transform: rotate(54deg);
  margin: 5px 0 0 27px;
}
.sheet-size[value="10"] ~ .sheet-clock-container input[value="3"] {
  transform: rotate(90deg);
  margin: 13px 0 0 30px;
}
.sheet-size[value="10"] ~ .sheet-clock-container input[value="4"] {
  transform: rotate(126deg);
  margin: 21px 0 0 27px;
}
.sheet-size[value="10"] ~ .sheet-clock-container input[value="5"] {
  transform: rotate(162deg);
  margin: 26px 0 0 20px;
}
.sheet-size[value="10"] ~ .sheet-clock-container input[value="6"] {
  transform: rotate(198deg);
  margin: 26px 0 0 12px;
}
.sheet-size[value="10"] ~ .sheet-clock-container input[value="7"] {
  transform: rotate(234deg);
  margin: 21px 0 0 5px;
}
.sheet-size[value="10"] ~ .sheet-clock-container input[value="8"] {
  transform: rotate(270deg);
  margin: 13px 0 0 1px;
}
.sheet-size[value="10"] ~ .sheet-clock-container input[value="9"] {
  transform: rotate(306deg);
  margin: 5px 0 0 5px;
}
.sheet-size[value="10"] ~ .sheet-clock-container input[value="10"] {
  transform: rotate(342deg);
  margin-left: 12px;
}

.sheet-size[value="12"] ~ .sheet-clock-container input:not(.sheet-zero) {
  height: 12px;
  width: 8px;
}
.sheet-size[value="12"] ~ .sheet-clock-container input[value="1"] {
  margin-left: 20px;
  transform: rotate(15deg);
}
.sheet-size[value="12"] ~ .sheet-clock-container input[value="2"] {
  margin: 4px 0 0 26px;
  transform: rotate(45deg);
}
.sheet-size[value="12"] ~ .sheet-clock-container input[value="3"] {
  margin: 10px 0 0 29px;
  transform: rotate(75deg);
}
.sheet-size[value="12"] ~ .sheet-clock-container input[value="4"] {
  margin: 18px 0 0 29px;
  transform: rotate(105deg);
}
.sheet-size[value="12"] ~ .sheet-clock-container input[value="5"] {
  margin: 24px 0 0 26px;
  transform: rotate(135deg);
}
.sheet-size[value="12"] ~ .sheet-clock-container input[value="6"] {
  margin: 28px 0 0 20px;
  transform: rotate(165deg);
}
.sheet-size[value="12"] ~ .sheet-clock-container input[value="7"] {
  margin: 28px 0 0 12px;
  transform: rotate(195deg);
}
.sheet-size[value="12"] ~ .sheet-clock-container input[value="8"] {
  margin: 24px 0 0 6px;
  transform: rotate(225deg);
}
.sheet-size[value="12"] ~ .sheet-clock-container input[value="9"] {
  margin: 18px 0 0 3px;
  transform: rotate(255deg);
}
.sheet-size[value="12"] ~ .sheet-clock-container input[value="10"] {
  margin: 10px 0 0 3px;
  transform: rotate(295deg);
}
.sheet-size[value="12"] ~ .sheet-clock-container input[value="11"] {
  margin: 4px 0 0 6px;
  transform: rotate(315deg);
}
.sheet-size[value="12"] ~ .sheet-clock-container input[value="12"] {
  margin-left: 12px;
  transform: rotate(345deg);
}

/* End positioning */
.sheet-size[value="4"] ~ .sheet-clock-container .sheet-4clock,
.sheet-size[value="6"] ~ .sheet-clock-container .sheet-6clock,
.sheet-size[value="8"] ~ .sheet-clock-container .sheet-8clock,
.sheet-size[value="10"] ~ .sheet-clock-container .sheet-10clock,
.sheet-size[value="12"] ~ .sheet-clock-container .sheet-12clock {
  display: block;
}

.sheet-size:not([value=""]) ~ .sheet-size-choice,
.sheet-clocks .sheet-size[value=""] ~ .sheet-broadcast-button,
.sheet-size[value=""] ~ .sheet-clock-container {
  display: none;
}

.sheet-clock-container .sheet-input-progress[value="0"]:checked ~ .sheet-clock {
  background: white;
}

.sheet-size[value="4"] ~ .sheet-clock-container .sheet-input-progress[value="1"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(180deg, red 50%, white 50%);
}
.sheet-size[value="4"] ~ .sheet-clock-container .sheet-input-progress[value="2"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="4"] ~ .sheet-clock-container .sheet-input-progress[value="3"]:checked ~ .sheet-clock {
  background-image: linear-gradient(180deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="4"] ~ .sheet-clock-container .sheet-input-progress[value="4"]:checked ~ .sheet-clock {
  background: red;
}

.sheet-size[value="6"] ~ .sheet-clock-container .sheet-input-progress[value="1"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(150deg, red 50%, white 50%);
}
.sheet-size[value="6"] ~ .sheet-clock-container .sheet-input-progress[value="2"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(210deg, red 50%, white 50%);
}
.sheet-size[value="6"] ~ .sheet-clock-container .sheet-input-progress[value="3"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="6"] ~ .sheet-clock-container .sheet-input-progress[value="4"]:checked ~ .sheet-clock {
  background-image: linear-gradient(150deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="6"] ~ .sheet-clock-container .sheet-input-progress[value="5"]:checked ~ .sheet-clock {
  background-image: linear-gradient(210deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="6"] ~ .sheet-clock-container .sheet-input-progress[value="6"]:checked ~ .sheet-clock {
  background: red;
}

.sheet-size[value="8"] ~ .sheet-clock-container .sheet-input-progress[value="1"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(135deg, red 50%, white 50%);
}
.sheet-size[value="8"] ~ .sheet-clock-container .sheet-input-progress[value="2"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(180deg, red 50%, white 50%);
}
.sheet-size[value="8"] ~ .sheet-clock-container .sheet-input-progress[value="3"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(225deg, red 50%, white 50%);
}
.sheet-size[value="8"] ~ .sheet-clock-container .sheet-input-progress[value="4"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="8"] ~ .sheet-clock-container .sheet-input-progress[value="5"]:checked ~ .sheet-clock {
  background-image: linear-gradient(135deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="8"] ~ .sheet-clock-container .sheet-input-progress[value="6"]:checked ~ .sheet-clock {
  background-image: linear-gradient(180deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="8"] ~ .sheet-clock-container .sheet-input-progress[value="7"]:checked ~ .sheet-clock {
  background-image: linear-gradient(225deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="8"] ~ .sheet-clock-container .sheet-input-progress[value="8"]:checked ~ .sheet-clock {
  background: red;
}

.sheet-size[value="10"] ~ .sheet-clock-container .sheet-input-progress[value="1"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(126deg, red 50%, white 50%);
}
.sheet-size[value="10"] ~ .sheet-clock-container .sheet-input-progress[value="2"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(162deg, red 50%, white 50%);
}
.sheet-size[value="10"] ~ .sheet-clock-container .sheet-input-progress[value="3"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(198deg, red 50%, white 50%);
}
.sheet-size[value="10"] ~ .sheet-clock-container .sheet-input-progress[value="4"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(234deg, red 50%, white 50%);
}
.sheet-size[value="10"] ~ .sheet-clock-container .sheet-input-progress[value="5"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="10"] ~ .sheet-clock-container .sheet-input-progress[value="6"]:checked ~ .sheet-clock {
  background-image: linear-gradient(126deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="10"] ~ .sheet-clock-container .sheet-input-progress[value="7"]:checked ~ .sheet-clock {
  background-image: linear-gradient(162deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="10"] ~ .sheet-clock-container .sheet-input-progress[value="8"]:checked ~ .sheet-clock {
  background-image: linear-gradient(198deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="10"] ~ .sheet-clock-container .sheet-input-progress[value="9"]:checked ~ .sheet-clock {
  background-image: linear-gradient(234deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="10"] ~ .sheet-clock-container .sheet-input-progress[value="10"]:checked ~ .sheet-clock {
  background: red;
}

.sheet-size[value="12"] ~ .sheet-clock-container .sheet-input-progress[value="1"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(120deg, red 50%, white 50%);
}
.sheet-size[value="12"] ~ .sheet-clock-container .sheet-input-progress[value="2"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(150deg, red 50%, white 50%);
}
.sheet-size[value="12"] ~ .sheet-clock-container .sheet-input-progress[value="3"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(180deg, red 50%, white 50%);
}
.sheet-size[value="12"] ~ .sheet-clock-container .sheet-input-progress[value="4"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(210deg, red 50%, white 50%);
}
.sheet-size[value="12"] ~ .sheet-clock-container .sheet-input-progress[value="5"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(240deg, red 50%, white 50%);
}
.sheet-size[value="12"] ~ .sheet-clock-container .sheet-input-progress[value="6"]:checked ~ .sheet-clock {
  background-image: linear-gradient(90deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="12"] ~ .sheet-clock-container .sheet-input-progress[value="7"]:checked ~ .sheet-clock {
  background-image: linear-gradient(120deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="12"] ~ .sheet-clock-container .sheet-input-progress[value="8"]:checked ~ .sheet-clock {
  background-image: linear-gradient(150deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="12"] ~ .sheet-clock-container .sheet-input-progress[value="9"]:checked ~ .sheet-clock {
  background-image: linear-gradient(180deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="12"] ~ .sheet-clock-container .sheet-input-progress[value="10"]:checked ~ .sheet-clock {
  background-image: linear-gradient(210deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="12"] ~ .sheet-clock-container .sheet-input-progress[value="11"]:checked ~ .sheet-clock {
  background-image: linear-gradient(240deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-size[value="12"] ~ .sheet-clock-container .sheet-input-progress[value="12"]:checked ~ .sheet-clock {
  background: red;
}

/* TEXT INPUTS FOR TRAUMA AND CLOCKS */
.sheet-text-button {
  font-weight: bold;
}
.sheet-text-button input:checked + span {
  color: red;
}

.sheet-size-choice > .sheet-text-button {
  height: 17px;
  padding: 3px;
  flex: 0 0 40%;
  margin: auto;
  justify-content: center;
}

/* TEETH */
input.sheet-stresstooth,
input.sheet-xptooth,
input.sheet-holdtooth,
.sheet-stresstooth + span,
.sheet-xptooth + span,
.sheet-holdtooth + span {
  height: 25px;
}

input.sheet-regulartooth,
.sheet-regulartooth + span {
  height: 13px;
}

input.sheet-tooth {
  width: 12px;
  margin-right: -12px;
}
input.sheet-tooth:last-of-type {
  width: 8px;
  margin-right: -8px;
}

.sheet-tooth + span {
  width: 8px;
  background-size: cover;
  background-repeat: no-repeat;
}
.sheet-tooth + span:last-child {
  margin-right: 0 !important;
}

.sheet-tooth:hover + span {
  opacity: 0.7;
}

.sheet-xptooth + span {
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/teeth/xptooth-red.png");
  margin-right: 4px;
}

.sheet-tooth:checked ~ .sheet-xptooth + span {
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/teeth/xptooth-white.png");
}

.sheet-stresstooth[type=radio] + span,
.sheet-stresstooth[type=checkbox]:checked + span,
.sheet-holdtooth:checked + span {
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/teeth/stresstooth-red.png");
}

.sheet-stresstooth[type=checkbox] + span,
.sheet-tooth:checked ~ .sheet-stresstooth[type=radio] + span,
.sheet-holdtooth + span {
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/teeth/stresstooth-white.png");
}

.sheet-regulartooth + span {
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/teeth/shorttooth-red.png");
}

.sheet-tooth:checked ~ .sheet-regulartooth + span {
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/teeth/shorttooth-grey.png");
}

input.sheet-zero {
  width: 13px;
  height: 13px;
  margin-right: -13px;
  vertical-align: top;
}

.sheet-zero + span {
  height: 11px;
  width: 11px;
  margin-top: 1px;
  margin-right: 2px;
  vertical-align: top;
  border: 1px solid black;
  background: white;
  border-radius: 50%;
  position: relative;
}

.sheet-zero + span::before, .sheet-zero + span::after {
  position: absolute;
  width: 1px;
  content: "";
  left: 0;
  background: black;
  height: 11px;
}

.sheet-zero + span::after {
  transform: translate(4px, -1px) rotate(135deg);
}

.sheet-zero + span::before {
  transform: translate(4px, -1px) rotate(45deg);
}

.sheet-zero:checked + span {
  visibility: hidden;
}

.sheet-coin .sheet-zero + span {
  position: relative;
  bottom: 1px;
  margin-right: auto;
}

.sheet-stash input.sheet-zero, .sheet-stash .sheet-zero + span {
  position: absolute;
  left: -3px;
  top: 3px;
}

.sheet-crewcoin input.sheet-zero, .sheet-crewcoin .sheet-zero + span {
  position: absolute;
  left: -9px;
  top: 3px;
}

.sheet-stress2 input.sheet-zero, .sheet-stress2 .sheet-zero + span, .sheet-rep2 input.sheet-zero, .sheet-rep2 .sheet-zero + span, .sheet-heat2 input.sheet-zero, .sheet-heat2 .sheet-zero + span {
  position: absolute;
  left: -13px;
  top: 13px;
}

/* TURF RADIOS */
.sheet-turfbox input[type=radio] {
  height: 12px;
  width: calc(100%/12);
}

.sheet-turf-input[value="1"] ~ input[type=radio].sheet-turf1 + span,
.sheet-turf-input[value="2"] ~ input[type=radio].sheet-turf2 + span,
.sheet-turf-input[value="3"] ~ input[type=radio].sheet-turf3 + span,
.sheet-turf-input[value="4"] ~ input[type=radio].sheet-turf4 + span,
.sheet-turf-input[value="5"] ~ input[type=radio].sheet-turf5 + span,
.sheet-turf-input[value="6"] ~ input[type=radio].sheet-turf6 + span {
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/teeth/stresstooth-black.png");
}

.sheet-tooth:checked ~ .sheet-stresstooth.sheet-turf6 + span {
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/teeth/stresstooth-halfgrey.png");
}

/* SPECIAL ABILITIES*/
.sheet-specialability,
.sheet-friend-contact {
  border-bottom: 1px solid #b4b4b4;
  width: 100%;
  align-items: start;
}

.sheet-specialability {
  padding: 4px;
}

.sheet-friend-contact {
  padding: 6px 4px;
  align-items: center;
}

.sheet-abilityname {
  width: calc(28% - 22px);
  font-size: 13px;
  min-height: 17px;
  margin: 0 auto;
  line-height: 17px;
  padding: 0 1px;
}

.sheet-abilitydesc {
  width: 72%;
  min-height: 32px;
  font-size: 12px;
  line-height: 14px;
  padding: 2px 1px;
  text-align: justify;
}

/* FRIENDS/CONTACTS */
.sheet-friends input.sheet-expand, .sheet-contacts input.sheet-expand {
  top: 11px;
}
.sheet-friends .sheet-expand + span, .sheet-contacts .sheet-expand + span {
  top: 8px;
}
.sheet-friends input.sheet-expand, .sheet-friends .sheet-expand + span, .sheet-contacts input.sheet-expand, .sheet-contacts .sheet-expand + span {
  right: 3px;
}
.sheet-friends .sheet-expand:not(:checked) + span::before, .sheet-contacts .sheet-expand:not(:checked) + span::before {
  content: "◀";
}
.sheet-friends .sheet-expand:checked + span::before, .sheet-contacts .sheet-expand:checked + span::before {
  content: "▼";
}
.sheet-friends .sheet-expand:not(:checked) ~ .sheet-description, .sheet-contacts .sheet-expand:not(:checked) ~ .sheet-description {
  height: 0px !important;
  border: none;
  min-height: 0;
  padding: 0;
}
.sheet-friends .sheet-description, .sheet-contacts .sheet-description {
  font-size: 11px;
  padding: 2px 3px;
  line-height: 14px;
  height: 46px;
  min-height: 18px;
  border-bottom: 1px solid #b4b4b4;
}

.sheet-friend-contact .sheet-auto-expand {
  font-size: 12px;
  color: #555;
  min-height: 20px;
  line-height: 16px;
  flex: 1 1 0;
  padding: 2px 0 2px 3px;
}

/* HARM */
.sheet-harm {
  position: relative;
}

.sheet-harmbody {
  display: grid;
  grid: 52px/12px auto auto 59px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.sheet-harmbody div {
  background: #d6d8d9;
  border-bottom: 1px solid black;
}
.sheet-harmbody .sheet-harmeffect {
  width: 59px;
  color: #555;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 1.4;
}
.sheet-harmbody .sheet-harmnumber {
  line-height: 1;
  font-size: 13px;
}
.sheet-harmbody .sheet-twocols {
  grid-column: 2/4;
}
.sheet-harmbody textarea {
  font-size: 12px;
  padding: 10px 4px 3px;
  color: #c43c35;
  overflow: hidden;
  height: 52px;
  resize: none;
  line-height: 16px;
  text-align: center;
  border-bottom: 1px solid black;
}
.sheet-harmbody textarea + textarea {
  border-left: 1px solid #d8d8d8;
}

/* HEALING AND ARMOR */
.sheet-armor .sheet-blackheader, .sheet-healing .sheet-blackheader {
  text-align: center;
  padding: 1px 0 0;
}

.sheet-healing {
  position: relative;
}
.sheet-healing .sheet-healing-progress {
  line-height: 14px;
  text-align: center;
  font-style: italic;
  font-size: 9px;
}
.sheet-healing .sheet-clock-container {
  margin: 0 auto;
}

.sheet-armor label {
  margin: 3px 0 3px 10px;
  height: 18px;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
}
.sheet-armor .sheet-label {
  flex-grow: 1;
  order: 1;
}
.sheet-armor input:checked ~ span {
  color: red;
}
.sheet-armor .sheet-checkbox + span {
  border: 1px solid black;
  margin: 3px;
  order: 2;
}

/* COIN */
.sheet-coin-and-stash {
  width: 96%;
  margin: 1px 0 0 4%;
}

.sheet-coinrow .sheet-label {
  font-size: 11px;
  margin-right: auto;
}

.sheet-coin {
  border-bottom: 1px solid #8c8c8c;
  border-right: 1px solid #8c8c8c;
  width: 70%;
  height: 19px;
  padding: 1px 3px 0 0;
  align-items: center;
}

.sheet-stashbutton-holder {
  border-top: 1px solid #8c8c8c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 19px;
  padding-bottom: 1px;
}

/* STASH */
.sheet-stash {
  padding: 4px 0 0 10px;
  line-height: 19px;
  margin-bottom: -10px;
  position: relative;
}

/* CREW COIN */
.sheet-crewcoin-coins {
  padding: 4px 0 0 3px;
  position: relative;
}

.sheet-crewcoin-desc {
  font-size: 10px;
  line-height: 14px;
  padding-left: 3px;
  font-style: italic;
}

.sheet-crewcoinbar {
  border-left: 1px solid #c7c7c7;
  height: 15px;
  width: 3px;
  margin: -1px auto 0;
}

/* LEFT-FILLED RADIO BOXES */
.sheet-crewcoin input.sheet-radiobox {
  width: 12px;
  height: 12px;
  margin-right: -12px;
}
.sheet-crewcoin .sheet-radiobox + span {
  width: 11px;
  height: 11px;
  margin-right: auto;
}
.sheet-crewcoin input:checked ~ .sheet-radiobox.sheet-vaultcoin + span {
  border-color: #c7c7c7;
}

.sheet-coin-and-stash input.sheet-radiobox {
  width: 13px;
  height: 13px;
  vertical-align: top;
  margin-right: -13px;
}
.sheet-coin-and-stash .sheet-radiobox + span {
  width: 12px;
  height: 12px;
  vertical-align: top;
}

.sheet-coinrow .sheet-radiobox + span {
  margin-right: auto;
}

.sheet-radiobox:hover + span {
  opacity: 0.7;
}

.sheet-radiobox:last-of-type + span {
  margin-right: 0;
}

.sheet-coin .sheet-radiobox + span, .sheet-crewcoin .sheet-radiobox + span {
  background: red;
  border: 1px solid black;
}
.sheet-coin input:checked ~ .sheet-radiobox + span, .sheet-crewcoin input:checked ~ .sheet-radiobox + span {
  background: white;
}

.sheet-stash .sheet-radiobox + span {
  background: black;
  margin-right: calc((100% - 126px)/9);
}
.sheet-stash input:checked ~ .sheet-radiobox + span {
  background: #c7c7c7;
}
.sheet-stash input.sheet-radiobox:nth-of-type(10n+1) {
  margin: -2px -17px 0 3px;
  width: 15px;
  height: 15px;
}
.sheet-stash .sheet-radiobox:nth-of-type(10n+1) + span {
  width: 14px;
  height: 14px;
  border: 1px solid black;
  margin-left: 3px;
  margin-right: 0;
  position: relative;
  top: -2px;
}

/* HUNTING GROUNDS */
.sheet-hunting-grounds .sheet-plainheader {
  min-height: 20px;
  line-height: 18px;
}
.sheet-hunting-grounds .sheet-description {
  font-size: 12px;
  min-height: 32px;
  line-height: 16px;
}

/* BONUS DIE SECTION */
.sheet-bonusdie .sheet-label {
  font-size: 12px;
}

.sheet-bonusdieplus {
  width: 10%;
  background: black;
  color: white;
  font-size: 13px;
  line-height: 1;
  font-weight: bold;
}

.sheet-bonusdietext {
  background: #d8d8d8;
  width: 90%;
  padding: 3px;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
}

/* REPEATING SECTION CONTROLS */
/* REPEATING SECTION CONTROLS */
.repcontrol {
  display: flex;
}
.repcontrol .repcontrol_edit {
  margin-left: auto;
  order: 1;
}
.repcontrol button {
  background: transparent;
  color: #777;
  border-radius: 0;
  border-color: #b4b4b4;
  transition: all 0.2s;
  font-family: pictos;
  font-size: 0;
  font-weight: bold;
  padding: 5px 3px 2px;
  line-height: 8px;
}
.repcontrol button:hover {
  color: black;
  border-color: black;
  background: #c7c7c7;
}
.repcontrol button.repcontrol_edit::after {
  content: "(";
}
.repcontrol button.repcontrol_add::after {
  content: "&";
}
.repcontrol button.repcontrol_edit::after, .repcontrol button.repcontrol_add::after {
  font-size: 12px;
}

.repcontainer.editmode + .repcontrol button.repcontrol_edit::after {
  content: ")";
}

.sheet-free-repcontrol .repcontrol {
  margin-top: 3px;
}

.itemcontrol {
  z-index: 20;
}

.sheet-itemholder .itemcontrol .btn {
  padding: 0px 7px;
  line-height: 16px;
}

.sheet-factions .itemcontrol .btn {
  padding: 1px 7px;
}

/* STRESS, REP, et cetera */
.sheet-rep-and-hold, .sheet-heat-and-vault {
  justify-content: space-between;
}

.sheet-hold {
  width: 53%;
}

.sheet-stress, .sheet-rep, .sheet-hold, .sheet-heat {
  height: 25px;
}

.sheet-stress1 {
  flex: 1 0 auto;
}

.sheet-stress2 {
  flex: 2 1 136px;
  position: relative;
}

.sheet-stress3 {
  flex: 1 0 68px;
  text-align: center;
}

.sheet-stress4 {
  flex: 2 0 217px;
  line-height: 13px;
  font-size: 9px;
  padding: 1px 0 0 2px;
  text-transform: uppercase;
}
.sheet-stress4 div {
  justify-content: space-between;
}
.sheet-stress4 .sheet-input:not([value=normal]) ~ .sheet-normal,
.sheet-stress4 .sheet-input:not([value=ghost]) ~ .sheet-ghost,
.sheet-stress4 .sheet-input:not([value=hull]) ~ .sheet-hull {
  display: none;
}
.sheet-stress4 .sheet-ghost, .sheet-stress4 .sheet-hull {
  letter-spacing: 1px;
}

.sheet-traumaholder, .sheet-wantedholder {
  height: 13px;
  padding-left: 2px;
}

.sheet-rep1 {
  width: 33px;
}

.sheet-rep2 {
  width: 134px;
  position: relative;
}

.sheet-turfbox {
  display: flex;
  position: absolute;
  flex-flow: row-reverse;
  z-index: 2;
  width: 100%;
}

.sheet-turfzero-holder {
  margin-left: 2px;
}

.sheet-hold > div,
.sheet-hold > label,
.sheet-heat > div,
.sheet-rep > div,
.sheet-crewcoin2 {
  flex-grow: 1;
}

.sheet-heat2 {
  width: 107px;
  position: relative;
}

.sheet-crewcoin1 {
  width: 26%;
}

.sheet-regulartooth + span,
.sheet-rep .sheet-tooth + span,
.sheet-heat2 .sheet-tooth + span,
.sheet-stress2 .sheet-tooth + span {
  margin-right: auto;
}

.sheet-extra-teeth:checked + .sheet-tooth + span {
  margin-right: 0;
}
.sheet-extra-teeth:checked + .sheet-tooth ~ .sheet-tooth, .sheet-extra-teeth:checked + .sheet-tooth + span ~ span {
  display: none;
}

/* small fixes */
.sheet-rep input.sheet-tooth {
  width: 11px;
  margin-right: -11px;
}

/* NOTES */
.sheet-notes {
  margin-left: 1%;
  font-family: "Shadows Into Light", cursive;
  color: #c43c35;
  font-size: 20px;
  width: 98%;
  background: linear-gradient(transparent 26px, #a7a7a7 1px) 0 0/100% 27px;
  line-height: 27px;
  height: 378px;
  min-height: 378px;
}

.sheet-type-character .sheet-notes, .sheet-type-crew .sheet-notes {
  margin-top: 15px;
}

/* LOAD CHECKBOXES */
.sheet-loadheader .sheet-checkbox + span {
  border: 1px solid black;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  background: white;
}

/* ROLL BUTTONS */
button[type=roll].sheet-rollbutton {
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
}

.sheet-attribute-title button[type=roll].sheet-rollbutton {
  max-width: calc(100% - 97px);
  line-height: inherit;
  color: inherit;
  font-size: 13px;
}

.sheet-action button[type=roll].sheet-rollbutton {
  letter-spacing: 1px;
  line-height: 13px;
  flex: 0 0 86px;
  font-size: 13px;
}

.sheet-coinrow button[type=roll].sheet-rollbutton {
  font-size: 11px;
  color: #777;
}

.sheet-blackheader button[type=roll].sheet-rollbutton {
  margin: auto;
}

button[type=roll].sheet-borderbutton {
  color: #777;
  font-size: 13px;
  border-color: #b4b4b4;
}

button[type=roll].sheet-vicebutton {
  float: right;
  margin: 5px 3px -5px auto;
  line-height: 13px;
  padding: 4px;
}

button[type=roll].sheet-fortunebutton {
  width: 100%;
  height: 30px;
  margin: 10px 0 0;
}

.sheet-type-faction button[type=roll].sheet-fortunebutton {
  width: 100px;
  margin: 0;
}

button[type=roll].sheet-engagementbutton {
  width: calc(100% - 20px);
  padding: 2px 5px;
  height: 30px;
  margin: 10px 10px 0;
}

button[type=roll].sheet-rollbutton:hover {
  color: red;
}

button[type=roll].sheet-borderbutton:hover {
  color: black;
  border-color: black;
}

/* CHECKBOXES */
.sheet-checkbox {
  margin-right: -12px;
}

input.sheet-checkbox, .sheet-checkbox + span {
  height: 12px;
  width: 12px;
  flex: 0 0 auto;
}

.sheet-checkbox + span {
  border: 1px solid #8c8c8c;
}

.sheet-checkbox:checked + span {
  background: red;
}

.sheet-checkbox:hover + span {
  opacity: 0.7;
}

.sheet-squarebox + span {
  background: transparent;
  margin-right: 3px;
}

.sheet-circlebox + span {
  border-radius: 50%;
  background: white;
}

input.sheet-checkbox.sheet-squarebox-small, .sheet-checkbox.sheet-squarebox-small + span {
  height: 9px;
  width: 9px;
}

.sheet-checkbox.sheet-squarebox-small:checked + span {
  background: black;
}

.sheet-claimbridge {
  position: relative;
}

.sheet-claimbridge input, .sheet-claimbridge span {
  width: 100%;
  height: 100%;
}

.sheet-claimbridge input:checked + span {
  background: #d8d8d8;
}

/* Change text colour when boxes are checked*/
.sheet-specialability .sheet-checkbox:checked ~ .sheet-abilityname,
.sheet-item .sheet-checkbox:checked ~ .sheet-itemname,
.sheet-friend .sheet-friendstate[value=up] ~ .sheet-auto-expand {
  color: red;
}

.sheet-friend-contact .sheet-friendstate:not([value="0"]) ~ .sheet-auto-expand {
  font-weight: bold;
}

.sheet-friend .sheet-friendstate[value=down] ~ .sheet-auto-expand,
.sheet-contact .sheet-friendstate[value="1"] ~ .sheet-auto-expand {
  color: #333;
}

/* specific adjustments */
.sheet-specialability .sheet-checkbox,
.sheet-specialability .sheet-checkbox + span {
  margin-top: 3px;
}

.sheet-actions input.sheet-checkbox {
  height: 20px;
  width: 16px;
  margin-right: -14px;
}

.sheet-actions .sheet-checkbox + span {
  height: 11px;
  width: 11px;
  border: none;
  margin-right: calc(7px + (100% - 173px)/8);
}

.sheet-action .sheet-checkbox + span:first-of-type {
  margin-right: 6px;
}

/* Fake radios */
.sheet-checkbox.sheet-fakeradio + span {
  background: red;
}

.sheet-action .sheet-fakeradio:checked ~ .sheet-fakeradio + span {
  background: #c7c7c7;
}

.sheet-tier .sheet-fakeradio:checked ~ .sheet-fakeradio + span {
  background: white;
}

/* Friend triangles */
.sheet-friend-contact .sheet-checkbox + span {
  width: 0;
  height: 0;
  background: transparent;
  border-color: transparent;
}
.sheet-friend-contact label {
  width: 12px;
  height: 12px;
  position: relative;
}

.sheet-friend label.sheet-up {
  margin-right: 1px;
  top: -1px;
}
.sheet-friend label.sheet-up .sheet-checkbox + span {
  border-width: 0 5px 10px;
  border-bottom-color: white;
}
.sheet-friend label.sheet-up .sheet-checkbox:checked + span {
  border-bottom-color: red;
}
.sheet-friend label.sheet-down {
  top: 5px;
}
.sheet-friend label.sheet-down .sheet-checkbox + span {
  border-width: 10px 5px 0;
  border-top-color: white;
}
.sheet-friend label.sheet-down .sheet-checkbox:checked + span {
  border-top-color: black;
}

.sheet-contact label {
  top: 1px;
}
.sheet-contact label .sheet-checkbox + span {
  border-width: 5px 0 5px 10px;
  border-left-color: white;
}
.sheet-contact label .sheet-checkbox:checked + span {
  border-left-color: black;
}

/* ACTION RATINGS */
.sheet-attribute,
.sheet-cohort {
  margin-bottom: 10px;
}

.sheet-attribute-title,
.sheet-cohort-title {
  height: 21px;
  line-height: 21px;
  color: white;
  background: black;
  padding: 0 3px;
  align-items: center;
  justify-content: space-between;
}

.sheet-attribute-xp-box {
  width: 97px;
  justify-content: flex-end;
  height: 100%;
}

.sheet-actioncolumn {
  flex-grow: 1;
}

.sheet-actions {
  padding-left: 2px;
}

.sheet-action {
  height: 22px;
  align-items: center;
}

.sheet-action:first-child {
  height: 34px;
  padding-top: 12px;
}

.sheet-divider {
  margin-right: calc(5px + (100% - 173px)/12);
  border-right: 1px solid black;
  height: inherit;
}

.sheet-action:first-child .sheet-divider {
  position: relative;
  top: -6px;
}

/* COHORTS */
.sheet-cohort-title {
  font-size: 11px;
}
.sheet-cohort-title input[type=text] {
  width: calc(100% - 40px);
}

.sheet-cohort-info {
  background: black;
  height: 13px;
  font-size: 9px;
  color: white;
  line-height: 13px;
}
.sheet-cohort-info input[type=text] {
  flex: 1 1 0;
  padding: 0 3px;
}
.sheet-cohort-info input[type=number] {
  flex: 0 0 auto;
  color: inherit;
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0 0 0 4px;
  line-height: inherit;
  width: 13px;
  -moz-appearance: textfield;
  font-size: 11px;
  font-family: "Times New Roman", Times, serif;
}
.sheet-cohort-info input[type=number]::-webkit-outer-spin-button, .sheet-cohort-info input[type=number]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.sheet-cohort-quality-label {
  flex: 0 0 auto;
}

.sheet-cohort-condition {
  justify-content: space-between;
}

.sheet-cohort-condition-name {
  font-size: 7.5px;
  margin-right: 2px;
  z-index: -1;
}

.sheet-cohort-dropdown {
  background: black;
  position: relative;
  z-index: 1;
  width: 41px;
  height: 13px;
  padding-left: 3px;
  flex: 0 0 auto;
  overflow: hidden;
  transition: all 0.2s;
}
.sheet-cohort-dropdown:hover {
  height: 39px;
}
.sheet-cohort-dropdown:hover > div:first-child {
  display: none;
}
.sheet-cohort-dropdown input[type=radio] {
  width: 39px;
  margin-right: -39px;
  vertical-align: top;
  height: 13px;
  z-index: 10;
}
.sheet-cohort-dropdown input[type=radio]:checked + span {
  color: red;
}

.sheet-cohort-edgeflaw {
  font-size: 9px;
  line-height: 10px;
  margin: 2px 0;
  align-items: start;
}
.sheet-cohort-edgeflaw .sheet-uppercase {
  width: 34px;
  padding: 2px 0;
}
.sheet-cohort-edgeflaw .sheet-auto-expand {
  width: calc(100% - 34px);
  min-height: 14px;
  padding: 2px 3px;
}

.sheet-cohort-description {
  font-size: 9px;
  padding: 1px 0;
  line-height: 12px;
  height: 50px;
  border-bottom: 1px solid #d8d8d8;
}

/* CLAIMS */
.sheet-claims {
  margin-top: 15px;
}

.sheet-claimsrow {
  align-items: center;
}
.sheet-claimsrow > div, .sheet-claimsrow > label {
  flex: 0 0 auto;
}

.sheet-claimbox,
.sheet-lairbox {
  height: 66px;
}

.sheet-claims-seprow {
  height: 12px;
  justify-content: space-between;
}

.sheet-lairbox {
  background: #777;
  width: 18.4%;
  font-size: 13px;
  color: white;
  letter-spacing: 1px;
}

.sheet-claims-horisep {
  height: 12px;
  display: flex;
  width: 2%;
}

.sheet-claims-vertsep {
  display: flex;
  width: 12px;
  margin: 0 calc(9.2% - 6px);
}

.sheet-claimbox {
  background: #d8d8d8;
  width: 18.4%;
  position: relative;
  transition: all 0.2s;
}
.sheet-claimbox .sheet-label {
  height: 30px;
  padding: 4px 0 2px;
  line-height: 12px;
}
.sheet-claimbox textarea {
  text-align: center;
  font-size: 9px;
  resize: none;
}
.sheet-claimbox textarea.sheet-claim-desc {
  height: 36px;
  padding: 2px 2.5% 4px;
  line-height: 10px;
}
.sheet-claimbox label {
  position: absolute;
  bottom: 1px;
  left: 1px;
}

input[value="1"] + .sheet-claimbox {
  background: #c7c7c7;
}

/* STRICTURES */
.sheet-strictures {
  font-size: 11px;
  line-height: 1.6;
  text-align: justify;
}
.sheet-strictures label {
  margin-right: 3px;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
}
.sheet-strictures span.sheet-label::after {
  content: ":";
}

/* ALCHEMICALS */
.sheet-title-checkbox ~ div {
  height: auto;
  transition: all 0.2s;
  overflow: hidden;
}

.sheet-title-checkbox:not(:checked) ~ div {
  height: 0;
}

input.sheet-title-checkbox {
  width: 100%;
  vertical-align: top;
  margin-right: -100%;
  height: 24px;
}

.sheet-title-checkbox:hover + span {
  color: red;
}

.sheet-alchemicals {
  padding: 0 5px;
  line-height: 16px;
}

.sheet-bandolier-desc {
  line-height: 12px;
  margin-top: 2px;
  font-size: 10px;
  font-style: italic;
}

.sheet-bandoliers-name {
  margin-right: 7px;
  font-size: 12px;
  line-height: 18px;
}

.sheet-bandolier input:nth-of-type(3) + span {
  margin-right: 8px;
}

.sheet-alchemicals .repcontainer {
  display: flex;
  flex-flow: row wrap;
}
.sheet-alchemicals .repitem {
  font-size: 11px;
  width: 50%;
}
.sheet-alchemicals .sheet-auto-expand {
  margin: 0 1px 0 7px;
  padding: 1px;
  min-height: 16px;
  line-height: 14px;
  width: calc(100% - 8px);
}
.sheet-alchemicals input.sheet-alchemicals-expand {
  width: 10px;
  position: absolute;
  height: 16px;
}
.sheet-alchemicals .sheet-alchemicals-expand + span {
  transform: rotate(45deg) scale(0.9);
  position: absolute;
}
.sheet-alchemicals .sheet-alchemicals-expand:not(:checked) ~ .sheet-alchemicals-info {
  display: none;
}
.sheet-alchemicals .sheet-alchemicals-info {
  position: relative;
  font-size: 9px;
  z-index: 2;
  background: white;
  line-height: 1.3;
  height: 64px;
  width: 200%;
  padding: 2px;
  border: 1px solid #d8d8d8;
}
.sheet-alchemicals .repitem:nth-child(even) .sheet-alchemicals-info {
  left: -100%;
}
.sheet-alchemicals .sheet-alchemicals-expand + span::before {
  content: "■";
  font-family: serif;
}
.sheet-alchemicals .sheet-alchemicals-expand:checked + span {
  color: red;
}
.sheet-alchemicals .itemcontrol .btn {
  padding: 0 4px;
  font-size: 9px;
  line-height: 14px;
}
.sheet-alchemicals .repcontrol_del {
  order: 1;
}
.sheet-alchemicals .repcontainer.editmode .repitem .itemcontrol {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/* FRAME */
.sheet-frame textarea {
  font-size: 11px;
  height: 40px;
}

/* FACTIONS PAGE */
.sheet-factions {
  justify-content: space-between;
}

.sheet-factiontitle {
  margin-bottom: 10px;
  align-items: center;
}

.sheet-factiontitle input[type=text] {
  font-size: 26px;
  margin-right: auto;
  width: 60%;
}

.sheet-factions-header {
  width: 100%;
  height: 24px;
  align-items: center;
  line-height: 14px;
  background: #c7c7c7;
}

.sheet-factions-header input[type=text] {
  padding-left: 3px;
}

.sheet-factions-header span {
  font-size: 7px;
}

input.sheet-expand, .sheet-expand + span {
  position: absolute;
  width: 7px;
  height: 10px;
  font-size: 8px;
}

.sheet-type-faction .sheet-expand {
  left: -7px;
  top: 6px;
}
.sheet-type-faction .sheet-expand + span {
  top: 3px;
  left: -7px;
}
.sheet-type-faction .sheet-expand + span::before {
  content: "▶";
}
.sheet-type-faction .sheet-expand:checked + span::before {
  content: "▼";
}

.sheet-faction {
  border-bottom: 1px solid #d8d8d8;
}
.sheet-faction textarea {
  border-top: 1px solid #d8d8d8;
  font-size: 11px;
  line-height: 1.5;
  height: 51px;
}
.sheet-faction input[type=number] {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 12px;
}
.sheet-faction input[type=text] {
  border-right: 1px solid #d8d8d8;
  font-size: 12px;
  padding: 2px 1px;
}

.sheet-expand:not(:checked) ~ textarea {
  height: 0 !important;
  border-width: 0;
}

/* Column widths */
.sheet-faction-name, input[type=text].sheet-faction-name {
  width: 65%;
}

.sheet-faction-tier, input[type=text].sheet-faction-tier {
  width: 10%;
  text-align: center;
}

.sheet-faction-hold, input[type=text].sheet-faction-hold {
  width: 10%;
  text-align: center;
}

.sheet-faction-status, input[type=number].sheet-faction-status {
  width: 15%;
  text-align: center;
}

/* War blurb */
.sheet-warblurb {
  text-align: justify;
}
.sheet-warblurb .sheet-label {
  font-size: 14px;
}
.sheet-warblurb li {
  margin-bottom: 0.5em;
  padding-left: 1em;
}

/* Generate button */
label.sheet-generatebutton {
  color: #777;
  border: 1px solid #b4b4b4;
}
label.sheet-generatebutton:hover {
  color: black;
  border-color: black;
}
label.sheet-generatebutton:hover input + span {
  opacity: 1;
}

.sheet-type-faction label.sheet-generatebutton {
  font-size: 13px;
  padding: 0 6px;
  align-items: center;
  margin: 0 6px;
  font-weight: bold;
  height: 30px;
}

.sheet-settings label.sheet-generatebutton {
  padding: 2px;
  line-height: 12px;
  margin: 0 4px;
  font-size: 11px;
}

/* Auto-expand textareas */
.sheet-auto-expand {
  position: relative;
  cursor: text;
  word-wrap: break-word;
}
.sheet-auto-expand span {
  visibility: hidden;
  white-space: pre-wrap;
  display: block;
}
.sheet-auto-expand textarea {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  resize: none;
  height: 100%;
  word-wrap: break-word;
  padding: inherit;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  text-align: inherit;
}

/* Broadcast buttons */
.sheet-show-broadcast[value="0"] ~ .sheet-container .sheet-broadcast-button {
  display: none;
}

button[type=roll].sheet-broadcast-button {
  font-family: pictos;
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.sheet-specialability button[type=roll].sheet-broadcast-button {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  width: 14px;
  color: #777;
  left: 3px;
  bottom: 7px;
}

.sheet-clocks button[type=roll].sheet-broadcast-button {
  font-size: 11px;
  line-height: 11px;
  height: 12px;
  width: 12px;
  color: #777;
  right: 0;
  bottom: 2px;
}

.sheet-harm button[type=roll].sheet-broadcast-button {
  color: white;
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
  right: 2px;
  top: 1px;
}

/* Kirsty */
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-specialheader,
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-blackheader,
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-greyheader,
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-black-on-grey,
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-playbook input[type=text],
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-plainheader,
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-itemheader :first-child,
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-loadheader :first-child,
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-attribute-title button[type=roll].sheet-rollbutton,
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-bonusdie > .sheet-label:first-child,
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-cohort-title,
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-claimbox .sheet-label,
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-lairbox,
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-crewheader,
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-factiontitle input[type=text],
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-factions-header input[type=text] {
  font-family: Kirsty, Georgia, serif;
}
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-claimbox .sheet-label {
  font-size: 10px;
  font-weight: 400;
}
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-specialheader, .sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-itemheader :first-child, .sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-loadheader :first-child {
  font-size: 12px;
  font-weight: 400;
}
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-plainheader, .sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-cohort-title {
  font-size: 13px;
  font-weight: 400;
}
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-factions-header input[type=text],
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-bonusdie > .sheet-label:first-child {
  font-size: 14px;
  font-weight: 400;
}
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-attribute-title button[type=roll].sheet-rollbutton, .sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-lairbox {
  font-size: 15px;
  font-weight: 400;
}
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-crewheader {
  font-size: 29px;
  letter-spacing: 0;
}
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-factiontitle input[type=text] {
  font-size: 32px;
}
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-playbook input[type=text] {
  font-size: 40px;
  letter-spacing: 0;
}
.sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-blackheader .sheet-label, .sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-blackheader button[type=roll].sheet-label, .sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-greyheader .sheet-label, .sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-greyheader button[type=roll].sheet-label, .sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-black-on-grey .sheet-label, .sheet-use-kirsty[value="1"] ~ .sheet-container .sheet-black-on-grey button[type=roll].sheet-label {
  font-size: 12px;
  font-weight: 400;
}

/* ROLL TEMPLATES */
/* Colors */
.withoutavatars .sheet-rolltemplate-bitd .sheet-holder {
  margin-left: -15px;
}
.withoutavatars .sheet-rolltemplate-bitd-broadcast {
  margin-left: -15px;
}

/* Container */
.sheet-rolltemplate-bitd {
  /* Background images */
  /* Images */
  /* Header */
  /* Image */
  /* Title */
  /* Position and Effect */
  /* Dice */
  /* Zerodice dice holder */
  /* Zerodice text */
  /* Inlinerolls */
  /* Instructions and Notes */
}
.sheet-rolltemplate-bitd .sheet-holder {
  margin: 0 -5px -4px -45px;
  padding: 0 20px 0 30px;
  max-width: 299px;
  box-sizing: border-box;
  font-family: Georgia, "Bitstream Charter", "Times New Roman", serif;
  user-select: none;
  cursor: default;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  font-variant-numeric: lining-nums;
}
.sheet-rolltemplate-bitd .sheet-action {
  display: grid;
  grid: auto/133px 116px;
  align-content: start;
}
.sheet-rolltemplate-bitd .sheet-holder.sheet-resist.sheet-short,
.sheet-rolltemplate-bitd .sheet-holder.sheet-vice.sheet-short {
  height: 171px;
}
.sheet-rolltemplate-bitd .sheet-holder.sheet-action.sheet-short {
  height: 195px;
}
.sheet-rolltemplate-bitd .sheet-holder.sheet-fortune.sheet-short {
  min-height: 199px;
}
.sheet-rolltemplate-bitd .sheet-action,
.sheet-rolltemplate-bitd .sheet-resist,
.sheet-rolltemplate-bitd .sheet-vice {
  height: 258px;
}
.sheet-rolltemplate-bitd .sheet-fortune {
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/rolltemplate/rolltemplate-fortune.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: white;
  height: auto;
  min-height: 250px;
}
.sheet-rolltemplate-bitd .sheet-action {
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/rolltemplate/rolltemplate-action.gif");
}
.sheet-rolltemplate-bitd .sheet-resist {
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/rolltemplate/rolltemplate-resist.jpg");
}
.sheet-rolltemplate-bitd .sheet-vice {
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/rolltemplate/rolltemplate-vice.jpg");
}
.sheet-rolltemplate-bitd img {
  display: block;
  height: 100%;
}
.sheet-rolltemplate-bitd .sheet-header {
  grid-column: span 2;
  display: -webkit-box;
  margin: 16px 0 0;
  font-size: 15px;
  height: 35px;
  line-height: 17.5px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-variant: small-caps;
  text-overflow: ellipsis;
}
.sheet-rolltemplate-bitd .sheet-header.sheet-narrow {
  width: calc(100% - 52px);
}
.sheet-rolltemplate-bitd .sheet-resist .sheet-header {
  color: #8da8bb;
}
.sheet-rolltemplate-bitd .sheet-vice .sheet-header {
  color: white;
}
.sheet-rolltemplate-bitd .sheet-fortune .sheet-header {
  color: #303032;
}
.sheet-rolltemplate-bitd .sheet-action .sheet-header {
  color: #e74a10;
}
.sheet-rolltemplate-bitd > .sheet-action .sheet-header,
.sheet-rolltemplate-bitd > .sheet-fortune .sheet-header {
  letter-spacing: 1px;
  font-weight: 800;
}
.sheet-rolltemplate-bitd .sheet-holder.sheet-fortune.sheet-short .sheet-header {
  margin-bottom: -51px;
}
.sheet-rolltemplate-bitd .sheet-char-image {
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 0;
}
.sheet-rolltemplate-bitd .sheet-char-image a {
  cursor: default;
  pointer-events: none;
}
.sheet-rolltemplate-bitd .sheet-char-image img {
  max-width: 60px;
  max-height: 80px;
}
.sheet-rolltemplate-bitd .sheet-title {
  grid-column: span 2;
  color: white;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}
.sheet-rolltemplate-bitd .sheet-title img {
  display: block;
  height: 100%;
}
.sheet-rolltemplate-bitd .sheet-action .sheet-title,
.sheet-rolltemplate-bitd .sheet-fortune .sheet-title {
  margin: 22px 0 0;
  font-size: 36px;
  line-height: 31px;
  height: 31px;
}
.sheet-rolltemplate-bitd .sheet-vice .sheet-title,
.sheet-rolltemplate-bitd .sheet-resist .sheet-title {
  margin: 11px 0 0;
  font-size: 24px;
  line-height: 24px;
  height: 24px;
}
.sheet-rolltemplate-bitd .sheet-fortune .sheet-title {
  color: black;
}
.sheet-rolltemplate-bitd .sheet-small-title {
  font-size: 28px;
}
.sheet-rolltemplate-bitd .sheet-position,
.sheet-rolltemplate-bitd .sheet-effect {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
.sheet-rolltemplate-bitd .sheet-dice {
  grid-column: span 2;
  height: 27px;
  font-size: 19px;
  line-height: 20px;
  color: white;
}
.sheet-rolltemplate-bitd .sheet-action .sheet-dice {
  margin: 47px 0 37px;
}
.sheet-rolltemplate-bitd .sheet-resist .sheet-dice,
.sheet-rolltemplate-bitd .sheet-vice .sheet-dice {
  margin: 35px 0 23px;
}
.sheet-rolltemplate-bitd .sheet-fortune .sheet-dice {
  margin: 15px 0 10px;
  color: #303032;
}
.sheet-rolltemplate-bitd .sheet-action .sheet-zerodice1 {
  text-shadow: 0px 0px 6px #ff9e00;
  color: white;
}
.sheet-rolltemplate-bitd .sheet-fortune .sheet-zerodice1 {
  text-shadow: 0px 0px 6px #88dbd7;
  color: #1e1e1e;
}
.sheet-rolltemplate-bitd .sheet-vice .sheet-zerodice1,
.sheet-rolltemplate-bitd .sheet-resist .sheet-zerodice1 {
  text-shadow: 0px 0px 6px #09c7d0;
  color: white;
}
.sheet-rolltemplate-bitd .sheet-zerodice2 {
  line-height: 1;
  font-size: 12.5px;
  margin-top: 7px;
  font-style: italic;
}
.sheet-rolltemplate-bitd .sheet-vice .sheet-zerodice2,
.sheet-rolltemplate-bitd .sheet-resist .sheet-zerodice2 {
  text-shadow: 0px 0px 6px #09c7d0;
  color: #d8e4ef;
}
.sheet-rolltemplate-bitd .sheet-action .sheet-zerodice2 {
  text-shadow: 0px 0px 6px #ff9e00;
  color: #ffd8ca;
}
.sheet-rolltemplate-bitd .sheet-fortune .sheet-zerodice2 {
  width: 60%;
  text-shadow: 0px 0px 6px #88dbd7;
  color: #1e1e1e;
}
.sheet-rolltemplate-bitd .inlinerollresult {
  border: none !important;
  background-color: transparent;
  font-weight: normal;
  padding: 0 3px 0 0;
}
.sheet-rolltemplate-bitd .sheet-comma:last-child {
  display: none;
}
.sheet-rolltemplate-bitd .sheet-instructions {
  padding: 15px 0 0;
  line-height: 1.3;
}
.sheet-rolltemplate-bitd .sheet-resist .sheet-instructions {
  color: #d3dde4;
  font-size: 13px;
}
.sheet-rolltemplate-bitd .sheet-vice .sheet-instructions {
  color: #c9c9c9;
  font-size: 11px;
}
.sheet-rolltemplate-bitd .sheet-notes {
  width: 56%;
  line-height: 1.2;
  font-size: 13px;
  padding: 20px 0;
  color: fortunegrey;
}

/* BROADCAST TEMPLATE */
.sheet-rolltemplate-bitd-broadcast {
  margin: 0 -5px -4px -45px;
  max-width: 299px;
  padding: 16px 10px 15px 20px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  font-family: Georgia, "Bitstream Charter", "Times New Roman", serif;
  background-color: #180d06;
  /* Image */
}
.sheet-rolltemplate-bitd-broadcast .sheet-header {
  color: #e74a10;
  font-size: 15px;
  line-height: 19px;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-weight: 800;
}
.sheet-rolltemplate-bitd-broadcast .sheet-header.sheet-narrow {
  width: calc(100% - 62px);
}
.sheet-rolltemplate-bitd-broadcast .sheet-char-image {
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 0;
}
.sheet-rolltemplate-bitd-broadcast .sheet-char-image a {
  cursor: default;
  pointer-events: none;
}
.sheet-rolltemplate-bitd-broadcast .sheet-char-image img {
  max-width: 60px;
  max-height: 80px;
}
.sheet-rolltemplate-bitd-broadcast .sheet-flex {
  display: flex;
  align-items: center;
  clear: both;
  margin: 5px 0 0;
}
.sheet-rolltemplate-bitd-broadcast .sheet-flex .sheet-title {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}
.sheet-rolltemplate-bitd-broadcast .sheet-title {
  margin: 9px 0 0;
  color: white;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  word-wrap: normal;
  font-size: 23px;
  line-height: 29px;
}
.sheet-rolltemplate-bitd-broadcast .sheet-title img {
  margin: 9px 0 0;
  display: block;
  height: 31px;
}
.sheet-rolltemplate-bitd-broadcast .sheet-content {
  padding: 15px 0 5px;
  line-height: 1.3;
  font-size: 13px;
  color: #ccc;
}
.sheet-rolltemplate-bitd-broadcast .sheet-harm {
  color: white;
  width: 100%;
  margin: 15px 0 0;
  border: 1px solid white;
}
.sheet-rolltemplate-bitd-broadcast .sheet-harm td {
  text-align: center;
  padding: 5px;
  border: 1px solid white;
}
.sheet-rolltemplate-bitd-broadcast .sheet-harm td:first-child {
  width: 10px;
}
.sheet-rolltemplate-bitd-broadcast .sheet-harm td:nth-child(2n+1) {
  font-weight: bold;
}
.sheet-rolltemplate-bitd-broadcast .sheet-harm td:nth-child(2) {
  padding: 5px 0;
}
.sheet-rolltemplate-bitd-broadcast .sheet-harm td:last-child {
  width: 60px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.sheet-rolltemplate-bitd-broadcast .sheet-harm-inner {
  color: #e74a10;
  padding: 0 5px;
}
.sheet-rolltemplate-bitd-broadcast .sheet-harm-inner:first-child:not(:last-child) {
  padding-bottom: 2.5px;
  border-bottom: 1px solid white;
}
.sheet-rolltemplate-bitd-broadcast .sheet-harm-inner:last-child:not(:first-child) {
  padding-top: 2.5px;
}
.sheet-rolltemplate-bitd-broadcast .sheet-clock {
  width: 88px;
  flex: 0 0 auto;
  box-sizing: border-box;
  position: relative;
  background: white;
  height: 88px;
  border: 4px solid black;
  border-radius: 50%;
  margin-right: 4px;
}
.sheet-rolltemplate-bitd-broadcast [class^=sheet-spoke] {
  height: 88px;
  width: 4px;
  position: absolute;
  background: black;
}
.sheet-rolltemplate-bitd-broadcast [class^=sheet-spoke]:not(.sheet-spoke-0) {
  display: none;
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-4 .sheet-spoke-90,
.sheet-rolltemplate-bitd-broadcast .sheet-size-6 .sheet-spoke-60,
.sheet-rolltemplate-bitd-broadcast .sheet-size-6 .sheet-spoke-120,
.sheet-rolltemplate-bitd-broadcast .sheet-size-8 .sheet-spoke-45,
.sheet-rolltemplate-bitd-broadcast .sheet-size-8 .sheet-spoke-90,
.sheet-rolltemplate-bitd-broadcast .sheet-size-8 .sheet-spoke-135,
.sheet-rolltemplate-bitd-broadcast .sheet-size-10 .sheet-spoke-36,
.sheet-rolltemplate-bitd-broadcast .sheet-size-10 .sheet-spoke-72,
.sheet-rolltemplate-bitd-broadcast .sheet-size-10 .sheet-spoke-108,
.sheet-rolltemplate-bitd-broadcast .sheet-size-10 .sheet-spoke-144,
.sheet-rolltemplate-bitd-broadcast .sheet-size-12 .sheet-spoke-30,
.sheet-rolltemplate-bitd-broadcast .sheet-size-12 .sheet-spoke-60,
.sheet-rolltemplate-bitd-broadcast .sheet-size-12 .sheet-spoke-90,
.sheet-rolltemplate-bitd-broadcast .sheet-size-12 .sheet-spoke-120,
.sheet-rolltemplate-bitd-broadcast .sheet-size-12 .sheet-spoke-150 {
  display: block;
}
.sheet-rolltemplate-bitd-broadcast .sheet-spoke-0 {
  transform: translate(39px, -4px);
}
.sheet-rolltemplate-bitd-broadcast .sheet-spoke-30 {
  transform: translate(39px, -4px) rotate(30deg);
}
.sheet-rolltemplate-bitd-broadcast .sheet-spoke-36 {
  transform: translate(39px, -4px) rotate(36deg);
}
.sheet-rolltemplate-bitd-broadcast .sheet-spoke-45 {
  transform: translate(39px, -4px) rotate(45deg);
}
.sheet-rolltemplate-bitd-broadcast .sheet-spoke-60 {
  transform: translate(39px, -4px) rotate(60deg);
}
.sheet-rolltemplate-bitd-broadcast .sheet-spoke-72 {
  transform: translate(39px, -4px) rotate(72deg);
}
.sheet-rolltemplate-bitd-broadcast .sheet-spoke-90 {
  transform: translate(39px, -4px) rotate(90deg);
}
.sheet-rolltemplate-bitd-broadcast .sheet-spoke-108 {
  transform: translate(39px, -4px) rotate(108deg);
}
.sheet-rolltemplate-bitd-broadcast .sheet-spoke-120 {
  transform: translate(39px, -4px) rotate(120deg);
}
.sheet-rolltemplate-bitd-broadcast .sheet-spoke-135 {
  transform: translate(39px, -4px) rotate(135deg);
}
.sheet-rolltemplate-bitd-broadcast .sheet-spoke-144 {
  transform: translate(39px, -4px) rotate(144deg);
}
.sheet-rolltemplate-bitd-broadcast .sheet-spoke-150 {
  transform: translate(39px, -4px) rotate(150deg);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-4.sheet-progress-1 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(180deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-4.sheet-progress-2 {
  background-image: linear-gradient(90deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-4.sheet-progress-3 {
  background-image: linear-gradient(180deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-4.sheet-progress-4 {
  background: red;
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-6.sheet-progress-1 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(150deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-6.sheet-progress-2 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(210deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-6.sheet-progress-3 {
  background-image: linear-gradient(90deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-6.sheet-progress-4 {
  background-image: linear-gradient(150deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-6.sheet-progress-5 {
  background-image: linear-gradient(210deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-6.sheet-progress-6 {
  background: red;
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-8.sheet-progress-1 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(135deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-8.sheet-progress-2 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(180deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-8.sheet-progress-3 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(225deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-8.sheet-progress-4 {
  background-image: linear-gradient(90deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-8.sheet-progress-5 {
  background-image: linear-gradient(135deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-8.sheet-progress-6 {
  background-image: linear-gradient(180deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-8.sheet-progress-7 {
  background-image: linear-gradient(225deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-8.sheet-progress-8 {
  background: red;
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-10.sheet-progress-1 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(126deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-10.sheet-progress-2 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(162deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-10.sheet-progress-3 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(198deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-10.sheet-progress-4 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(234deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-10.sheet-progress-5 {
  background-image: linear-gradient(90deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-10.sheet-progress-6 {
  background-image: linear-gradient(126deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-10.sheet-progress-7 {
  background-image: linear-gradient(162deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-10.sheet-progress-8 {
  background-image: linear-gradient(198deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-10.sheet-progress-9 {
  background-image: linear-gradient(234deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-10.sheet-progress-10 {
  background: red;
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-12.sheet-progress-1 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(120deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-12.sheet-progress-2 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(150deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-12.sheet-progress-3 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(180deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-12.sheet-progress-4 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(210deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-12.sheet-progress-5 {
  background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(240deg, red 50%, white 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-12.sheet-progress-6 {
  background-image: linear-gradient(90deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-12.sheet-progress-7 {
  background-image: linear-gradient(120deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-12.sheet-progress-8 {
  background-image: linear-gradient(150deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-12.sheet-progress-9 {
  background-image: linear-gradient(180deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-12.sheet-progress-10 {
  background-image: linear-gradient(210deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-12.sheet-progress-11 {
  background-image: linear-gradient(240deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
}
.sheet-rolltemplate-bitd-broadcast .sheet-size-12.sheet-progress-12 {
  background: red;
}
